<!DOCTYPE html>
<html>
    <head>
        <title>SelectPOP Demo Project</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/client.css' />

        <script src = 'https://www.webrtc-experiment.com/RecordRTC.js'></script>
        <script src = 'https://cdn.webrtc-experiment.com/MediaStreamRecorder.js'></script>
        <script src = '/javascripts/lib/jquery-1.8.0.js'></script>
        <script src = '/javascripts/lib/voicerss-tts.min.js'></script>
        <script src = '/javascripts/lib/voice-tts.js'></script>
        <script src = '/javascripts/lib/socket.io.js'></script>
        <script src = '/javascripts/lib/adapter.js'></script>
        <script src = '/javascripts/lib/ga.js'></script>
        <script src = '/javascripts/client.js'></script>
    </head>

    <body>
        <table>
            <tr>
                <input type = 'text' class = 'status' value = 'Disconnected' readonly>
            </tr>
            <tr>
                <td>
                    <video class = 'videoview' id  = 'localvideo' autoplay></video>
                </td>

                <td>
                    <textarea class = 'chatBox' placeholder="You have no received message." readonly></textarea>
                </td>

            </tr>
            <tr>
                <td align = 'center'>
                    <input type = 'button' class = 'stop_btn' value = 'stop'></input>
                </td>
            </tr>
        </table>

        <input type = 'hidden' class = 'room' value = '<%= room %>' />

    </body>
</html>
