<!DOCTYPE html>
<html>
    <head>
        <title>SelectPOP Demo Project</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <center>
            <h1>Login Failed</h1>
        </center>
    </body>
</html>
