<!DOCTYPE html>
<html>
    <head>
        <title>SelectPOP Demo Project</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type='javascript' src = '/javascripts/success.js'/>
    </head>
    <body>
        <center>
            <table style = "margin-top: 3%;">
                <tr style = "height: 30px;" align = "center">
                    <td>
                        <input type = "text" id = "content" value = "Hello, Danny"/>
                    </td>
                </tr>

                <tr  style = "height: 30px;" align = "center">
                    <td>
                        <input type = "text" id = "link" value = "" readonly>
                    </td>
                </tr>

                <tr  style = "height: 30px;" align = "center">
                    <td>
                        <input type = "button" value = "Generate link" onClick = "onGenerateLink()">
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
