<!DOCTYPE html>
<html>
    <head>
        <title>SelectPOP Demo Project</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/success.css' />
        <script src = '/javascripts/lib/jquery-1.8.0.js'></script>
        <script src = '/javascripts/lib/socket.io.js'></script>
        <script src = '/javascripts/success.js'></script>
    </head>

    <body>
        <center>
        <table class = 'chatTable'>
            <tr align = "center">
                <td>
                    <input type = 'text' class = 'link' readonly>
                    <input type = 'button' class = 'generateLink' value = 'Generate link'>
                </td>
            </tr>

            <tr>
                <td>
                    <input type = 'text' class = 'status' value = 'Disconnected' readonly>
                </td>
            </tr>

        </table>
        <div>
            <textarea class = 'chatBox' placeholder="Enter text here..."></textarea>
        </div>
        </center>
    </body>
</html>
