.chatTable {
    width: 400px;
    margin-top: 3%;
}

.chatBox {
    width: 500px;
    height: 400px;
    margin-top: 20px;
    font-size: 14px;
}

.link {
    width: 500px;
    font-size: 14px;
    text-align: center;
}

.msgln {
    width: 550px;
}
